:root { 
--white_A700_7f:#ffffff7f; 
--bluegray_600_00:#3c648900; 
--black_900_3f:#0000003f; 
--yellow_400_aa:#fdee63aa; 
--gray_900_19:#14111119; 
--green_500:#33d456; 
--indigo_900_11:#1d316411; 
--pink_A700:#cd097f; 
--purple_A401:#db00ff; 
--deep_purple_A400:#7a16f9; 
--purple_A400:#d901fc; 
--deep_purple_A401:#7b17fa; 
--black_900_4c:#0f0f0f4c; 
--gray_600:#958383; 
--light_green_A400_7f:#53ff037f; 
--teal_A200_b5:#4cfbfbb5; 
--gray_601:#7f7f7f; 
--blue_500:#2692f6; 
--gray_602:#7d7785; 
--bluegray_900_75:#11174475; 
--blue_600_c1:#1c98cdc1; 
--indigo_201:#a2badf; 
--bluegray_800:#255c5c; 
--indigo_200:#a1badf; 
--indigo_A700:#3f3ee2; 
--cyan_A200_7f:#31f3f37f; 
--cyan_600:#12b1bc; 
--white_A700:#ffffff; 
--cyan_400:#21abd7; 
--cyan_A400:#00e0ff; 
--cyan_A200:#00ffef; 
--light_blue_A200:#34ceff; 
--indigo_A200:#5062e5; 
--red_300:#dd6767; 
--white_A700_72:#ffffff72; 
--green_A400:#26e773; 
--black_900:#000000; 
--lime_A400_d6:#d2ff1fd6; 
--purple_A702:#991ce6; 
--purple_A701:#ad00ff; 
--purple_A700:#9100d5; 
--black_901:#030303; 
--bluegray_400_4c:#8590884c; 
--deep_purple_A200_87:#9736e487; 
--red_500_aa:#f73636aa; 
--purple_400:#ab2cd8; 
--teal_A400_87:#32e3ce87; 
--gray_501:#9c9393; 
--gray_500:#9b9494; 
--red_300_00:#dd676700; 
--bluegray_100:#d9d9d9; 
--pink_A701:#cd097e; 
--orange_500:#f69708; 
--green_50:#eaf3ed; 
--deep_purple_A200_7f:#9231f37f; 
--teal_A400:#3ae9aa; 
--bluegray_900:#302f36; 
--white_A700_00:#ffffff00; 
--gray_600_7f:#7877757f; 
--cyan_300:#5ecede; 
--black_900_33:#00000033; 
--gray_900_b2:#141111b2; 
--indigo_A400:#4154e3; 
--indigo_900:#241e62; 
--indigo_800_aa:#27368aaa; 
--indigo_901:#201f5a; 
--indigo_500:#4236d1; 
--white_A700_7a:#ffffff7a; 
--bluegray_901:#151c3f; 
}